<div class="section__container" style="padding-top: 30px">
      <h1 class="homepage__hero">Welcome to heaven trip</h1>
    <p class="homepage__description">You want go to heaven when you die?</p>
    <p class="homepage__subscription">This is for you! </p>
  <div class="authen__container">
<h2 style="margin-bottom: 10px; text-align: center; display: block" >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %><br>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
