<%= form_with(model: booking_tour, local: true) do |form| %>
  <% if booking_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking_tour.errors.count, "error") %> prohibited this booking_tour from being saved:</h2>

      <ul>
        <% booking_tour.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :tour_id %>
    <%= form.number_field :tour_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
