<p id="notice"><%= notice %></p>


  <% if current_user.is_admin %>
<h1>All Booking</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Tour</th>
      <th>Booking Details</th>
      <th>Booking At</th>
    </tr>
  </thead>

  <tbody>

    <% @booking_tours.each do |booking_tour| %>
      <% @user = User.find(booking_tour.user_id)%>
      <% @tour = Tour.find(booking_tour.tour_id)%>
      <tr>
        <td><%= link_to @user.name, users_show_path(@user) %></td>
        <td><%= @user.email %></td>
        <td><%= @tour.title %></td>
        <td><%= link_to @tour.title, tour_path(@tour) %></td>
        <td><%= booking_tour.created_at.strftime("%B %d %Y")%></td>
      </tr>
     
        
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking Tour', new_booking_tour_path %>
  
  <% elsif %>
  <h1><%= current_user.name %>'s Booking</h1>
  <%if !@my_bookings %>
      <p>You have never booking before. <%= link_to 'Booking now!', new_booking_tour_path%> </p>
    <% elsif %>
<table>
  <thead>
    <tr>
      <th>Tour</th>
      <th>Tour Name</th>
      <th>Total Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_bookings.each do |booking_tour| %>
    <% @tour = Tour.find(booking_tour.tour_id) %>
      <tr>
        <td><%= booking_tour.tour_id %></td>
        <td><%= @tour.title %></td>
        <td><%=booking_tour.total_cost%></td>
        <td><%= link_to 'Show', booking_tour %></td>
        <td><%= link_to 'Edit', edit_booking_tour_path(booking_tour) %></td>
        <td><%= link_to 'Unbooking', booking_tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  <% end %>
  </tbody>
</table>

<% end %>