<p id="notice"><%= notice %></p>


<%= image_tag @tour.image, style:"width: 650px; height: 400px"%>
<p>
  <strong>Title:</strong>
  <%= @tour.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @tour.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tour.price %> VND
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
