<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tour.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @tour.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tour.description %>
</p>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
