<%= form_with(model: @tour_reviews, local: true) do |form| %>
  <% if @tour_reviews.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour_review.errors.count, "error") %> prohibited this tour_review from being saved:</h2>

      <ul>
        <% tour_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

   <div class="field">
    <%= form.hidden_field :tour_id, value: @tour.id %>
  </div>
  
  <div class="field">
    <%= form.label :review, 'レビュー' %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit '参加する'  %>
  </div>
<% end %>
