<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー：</strong>
  <%= @tour_review.user_id %>
</p>

<p>
  <strong>ツアー：</strong>
  <%= @tour_review.tour_id %>
</p>

<p>
  <strong>レビュー：</strong>
  <%= @tour_review.review %>
</p>

<%= link_to '編集', edit_tour_review_path(@tour_review) %> |
<%= link_to 'バック', tour_reviews_path %>
