<!DOCTYPE html>
<html>
  <head>
    <title>HeavenTripProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-item">
      <%= link_to "ホーム", "/" %>
      <% if user_signed_in? %>
        <div> こんにちは <%= link_to current_user.name, users_show_path %></div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <%= link_to "サインイン", new_user_session_path, class: "nav-link"%>
        <%= link_to "ユーザ登録" , new_user_registration_path, method: :get%>
      <% end %>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
