<!DOCTYPE html>
<html>
  <head>
    <title>HeavenTripProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-item" style="margin-bottom: 20px">
      <%= link_to "ホーム", "/", class:"app__button"%>
      <% if user_signed_in? %>
        <div class="app__button"> こんにちは <strong><%= link_to current_user.name, users_show_path %></strong></div>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "app__button nav-link dropdown-item" %>
      <% else %>
        <%= link_to "サインイン", new_user_session_path, class: "nav-link app__button app__button--login"%>
        <%= link_to "ユーザ登録" , new_user_registration_path, method: :get, class: "nav-link app__button app__button--signup" %>
      <% end %>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
